[[source]]
url = "https://pypi.douban.com/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
bs4 = "*"
yfinance = "*"
scikit-learn = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.9"
